
<mat-toolbar color="primary">
  <mat-toolbar-row>
    {{ title }}
  </mat-toolbar-row>
  <mat-toolbar-row>
    <button mat-raised-button color="accent" routerLink="/movies">Movies</button>
    <button mat-raised-button color="accent" routerLink="/characters">Characters</button>
    <span></span>
  </mat-toolbar-row>
</mat-toolbar>

<form [formGroup]="trollForm" (ngSubmit)="createRant(trollForm.value)">
  <h3>Trollbox</h3>
  <textarea formControlName="rant"></textarea>
  <input type="text" formControlName="troll">
  <input type="submit" value="Post Rant" [disabled]=!trollForm.valid>
</form>


<router-outlet></router-outlet>
